  /*Group selector*/
        p, div{
            /*background-color:azure;*/
            color: brown;
            text-align: justify;
            text-transform: uppercase;
            text-indent: 30px;
            letter-spacing: 10px;
            /*This is CSS comment*/
        }

        /* id selector*/
        #iii{
            text-align: center;
        }
        /*class selector*/
        .pp{
            text-align: justify;
        }
        /*Descendent selector*/
        div p{
            background-color:azure;
            color: lightblue;
            text-align: justify;
            text-transform: uppercase;
            text-indent: 30px;
            letter-spacing: 10px;
            /*This is CSS comment*/

        }
        /*Child Selector*/
        div>p{
             background-color:azure;
            color: green;
            text-align: justify;
            text-transform: uppercase;
            text-indent: 30px;
            letter-spacing: 10px;
            /*This is CSS comment*/
        }
        /*Adjacent Sibling*/
        div+p{
             background-color:azure;
            color: crimson;
            text-align: justify;
            text-transform: uppercase;
            text-indent: 30px;
            letter-spacing: 10px;
            /*This is CSS comment*/
        }

        /*General Sibling*/
        div~p{
             background-color:azure !important;
            color: brown;
            text-align: justify;
            text-transform: uppercase;
            text-indent: 30px;
            letter-spacing: 10px;
            /*This is CSS comment*/
        }
        .bord{
            background-color:coral;
            color: blue;
            height: 200px;
            width:200px;
            border-color: aqua;
            border-style: dashed;
            border-width:10px;
            /*shorthand property of border*/
            border: 10px solid black;

        }
        
        span{
            text-decoration: line-through;
        }


        /*box_model*/
        .design{
            background-color:azure!important;
            color: crimson!important;
            height: 300px;
            width: 300px;
            text-align: justify;
            text-transform: uppercase;
            text-indent: 30px;
            letter-spacing: 10px;
            border: 10px solid black;
            padding: 20px;
            margin: 100px;
            outline: 5px solid seagreen;
        }
        .box_1{
            height: 500px;
            width: 500px;
            background-color: coral;
            margin-left: 200px;
            margin-top: 120px;

        }
        .box_2{
            height: 300px;
            width: 300px;
            padding: 50px;
            margin: 50px;
            /*margin-top: 60px;*/
            margin-left: 18px;
            display: inline-block;

            background-color: crimson;
        }
        .box_3{
            height: 100px;
            width: 100px;
            padding: 60px;
            margin: 50px;
            /*margin-top: 60px;*/
            margin-left: 8px;
            display: inline-block;

            background-color: green;
        }
